<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.localli.deepak.cryptotips">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.DayNight" />

        <activity android:name=".news.WebViewActivity" />

        <activity android:name=".currencydetails.CurrencyDetailsTabsActivity"
            android:theme="@style/AppTheme.DayNight"/>

        <activity android:name=".portfolio.AddPortfolioActivity"
            android:theme="@style/AppTheme.DayNight"/>

        <activity android:name=".alerts.AddAlertActivity"
            android:theme="@style/AppTheme.DayNight"/>
        
        <service android:name=".alerts.AlertBackgroundService"
            android:icon="@drawable/ninja_cat"
            android:label="@string/app_name"
            android:enabled="true"/>
    </application>
    

</manifest>